[data-theme='dark'] {
  --background-color: #1b1b1f;
  --sidebar-background-color: #161618;
  --text-color: rgba(255,255,254, 0.86);
  --input-checkbox-background: #43434b;
  --input-border-color: #71757e;
  --hr-color: #505050;
  --notification-info-bg: var(--dark-color)
}
