.va-notifications {
  position: fixed;
  top: 1rem;
  height: 0;
  width: 100%;
  &__wrap {
    display: flex;
    margin: 0 auto;
    width: fit-content;
    gap: var(--notifications-gap);
    flex-direction: column;
    justify-content: center;
    transition: height 0.3s;
  }
  &__item {
    transform: translateY(-300%);
    opacity: 0;
    transition: all .3s;
    display: flex;
    width: fit-content;
    background-color: white;
    padding: 0.25rem 2rem;
    margin: 0 auto;
    box-shadow: 0 10px 16px 0 rgba(0,0,0, 0.1);
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    gap: 1rem;
    &.show {
      transform: translateY(0);
      opacity: 1;
    }
    &.is-danger {
      color: var(--danger-color);
      background-color: var(--notifications-danger-bg);
    }
  }
}
