.va-notifications {
  position: fixed;
  top: 2rem;
  height: 0;
  left: 4rem;
  right: 4rem;
  display: flex;
  gap: var(--notifications-gap);
  flex-direction: column;
  z-index: 1000;
  &__item {
    opacity: 1;
    display: flex;
    width: fit-content;
    padding: 0.75rem 1rem;
    box-shadow: 0 10px 16px 0 rgba(0,0,0, 0.1);
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    gap: 1rem;
    min-width: 200px;
    white-space: nowrap;
    background-color: var(--notification-info-bg);
    align-self: center;
    &.right {
      align-self: flex-end;
    }
    &.is-danger {
      color: var(--danger-color);
      background-color: var(--notifications-danger-bg);
    }
    &.is-secondary {
      color: var(--white-color);
      background-color: var(--notifications-secondary-bg);
    }
  }
}
