@use "config";

:root {
  // global
  --dark-color: #{map-get(config.$colors, 'dark')};
  --info-color: #{map-get(config.$colors, 'info')};
  --light-info-color: #{map-get(config.$colors, 'light-info')};
  --danger-color:  #{map-get(config.$colors, 'danger')};
  --primary-color:  #{map-get(config.$colors, 'primary')};

  --primary-color-lighten:  #{lighten(map-get(config.$colors, 'primary'), 5%)};
  --white-color: #fff;
  --dark-info-color: #999;

  --border-radius: 8px;
  --h-padding: 1rem;
  --background-color: #ffffff;
  --sidebar-background-color: var(--light-info-color);
  --text-color: #333;

  --notifications-item-height: 40px;
  --notifications-gap: 8px;
  --notifications-danger-bg:  #{lighten(map-get(config.$colors, 'danger'), 43%)};

  // inputs
  --input-border-radius: var(--border-radius);
  --input-border-width: 1px;
  --input-border-color: var(--dark-info-color);
  --input-height: #{map-get(config.$controls-size, 'height')};
  --input-disabled-bg: #{lighten(map-get(config.$colors, 'info'), 5%)};
  --input-checkbox-height: calc(#{map-get(config.$controls-size, 'height')} / 2);
  --input-checkbox-background: var(--info-color);
  --input-checkbox-button-color: var(--dark-info-color);

  // buttons
  --button-bg-color: var(--white-color);
  --button-border-radius: var(--border-radius);
  --button-border-color: var(--dark-info-color);
  --button-text-color: var(--dark-color);
  --button-height: #{map-get(config.$controls-size, 'height')};

  // nav
  --menu-link-color: var(--dark-info-color);
  --menu-link-color-hover: var(--dark-color);
  --menu-link-color-active: var(--primary-color);

  // hr
  --hr-color: #eaeaea;

  // notification
  --notification-info-bg: var(--white-color)
}


